<!doctype html>
<html lang="pt">
<head>
    <title>{%block 'titulo'%}{%endblock%}</title>
    {% include 'parciais/_head.html' %}

    <style>
        {% include 'parciais/css.css' %}

    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="base.html">Inicio</a></li>
                <li><a href="#">Projetos</a></li>
                <li><a href="#">Quem sou</a></li>
            </ul>
        </nav>
    </header>

{%block 'conteudo'%}{%endblock%}

    <footer>
        {%block 'footer'%}{%endblock%}
    </footer>
</body>
</html>